/* TYPOGRAPHY */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* SITE-VARIABLES */

:root {
  /* COLOR THEME */
  --extra-light-gray: #999999;
  --light-gray: #777777;
  ---gray: #555555;
  --dark-gray: #333333;
  --black: #111111;

    /* FONT VARIABLES  */
    --modern-font: 'Noto Serif Display', serif;


}






* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


input,
textarea,
button,
select,
a,
div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


